// Original implementation from http://codepen.io/zeroskillz/pen/mPmENy

.rh-donutchart {
  border-radius: 50%;
  display: block;
}

.rh-donutchart-text{
  font-family: $base-font-content;
  fill: $blue-dark;
}
.rh-donutchart-text-val{
  font-size:22px;
}
.rh-donutchart-text-percent{
  font-size:14px;
}
.rh-donutchart-text-label{
  font-size:9px;
}

.rh-donutchart-track{
  fill: transparent;
  stroke: $grey-1;
  stroke-width: 5;
}
.rh-donutchart-indicator {
  fill: transparent;
  stroke: $blue;
  stroke-width: 5;
  stroke-dasharray: 0 10000;
  transition: stroke-dasharray .3s ease;
}

