.rh-tag-hgroup
  position: relative
  margin-top: $base-line-height-half
  margin-bottom: $base-line-height-half
  .rh-tag
    margin-right: $base-line-height-half
    margin-bottom: $base-line-height-half

.rh-tag
  +text-emboss-shadow
  display: inline-block
  padding: $base-line-height-half
  background: $control-info-color $light-gradient
  border-radius: $border-radius-small
  font-size: $base-font-size-small
  line-height: $base-font-size-small
  text-transform: uppercase
  color: #fff
  //box-shadow: $box-shadow-xsmall
  //text-shadow: $text-shadow-dark
  i.fa
    padding-right: $base-line-height-half
  em
    font-style: normal
    font-weight: 600
    text-transform: none